<template name="all_images">
  <div class="all-images">
    {{#each images}}
      <div class="image" style="background-image: url(pics/{{path}});">
        <div class="image-info-bg"></div>
        <div class="image-info">
          <h1>{{filename}}</h1>
          <div class="image-tags">
            {{#each categories}}
              <span>{{this}}</span>
            {{/each}}
          </div>
          <div class="actions">
            <button class="open">Open</button>
            <button class="save">Save</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
