@import "bourbon/bourbon";
@import "neat/neat";

.tag-container {
  float: left;
  height: 100vh;
}

.selected-tags {
  font-size: 0;
  float: left;
}

.selected-tags li {
  display: inline-block;
  height: 100vh;
  margin-right: 1px;
  background-color: red;
}

.selected-tags li span {
  font-size: 16px;
  color: white;
  display: inline-block;
  margin-top: 29px;
  text-transform: uppercase;
  @include transform(rotate(90deg));
}

.tags {
  float: left;
  padding: 20px;
}

.tags li {
  text-transform: uppercase;
}
