@import "bourbon/bourbon";
@import "neat/neat";

.tag-container {
  position: fixed;
  width: 250px;
  overflow-x: scroll;
  height: 100%;

  @include media(new-breakpoint(max-width 800px)) {
    position: static;
    width: 100%;
  }
}

.selected-tags {
  font-size: 0;
  float: left;

  @include media(new-breakpoint(max-width 800px)) {
    float: none;
  }
}

.selected-tags li {
  cursor: pointer;
  display: inline-block;
  height: 100vh;
  width: 28px;
  margin-right: 1px;
  background-color: red;

  @include media(new-breakpoint(max-width 800px)) {
    height: auto;
    width: 100%;
  }
}

.selected-tags li span {
  font-size: 16px;
  color: white;
  display: inline-block;
  margin: 29px 0 0 27px;
  text-transform: uppercase;
  transform-origin: left top 0;
  @include transform(rotate(90deg));

  @include media(new-breakpoint(max-width 800px)) {
    margin: 10px;
    @include transform(none);
  }
}

.tags {
  padding: 20px;
  overflow-y: auto;
}

.tags li {
  cursor: pointer;
  text-transform: uppercase;

  &.selected {
    display: none;
  }
}
