@import "bourbon/bourbon";
@import "neat/neat";

.tag-container {
  float: left;
  height: 100vh;
}

.selected-tags {
  font-size: 0;
  float: left;
}

.selected-tags li {
  cursor: pointer;
  display: inline-block;
  height: 100vh;
  width: 28px;
  margin-right: 1px;
  background-color: red;
}

.selected-tags li span {
  font-size: 16px;
  color: white;
  display: inline-block;
  margin: 29px 0 0 27px;
  text-transform: uppercase;
  transform-origin: left top 0;
  @include transform(rotate(90deg));
}

.tags {
  float: left;
  padding: 20px;
}

.tags li {
  cursor: pointer;
  text-transform: uppercase;

  &.selected {
    display: none;
  }
}
